.navbar {
    background-color:#fff !important;
    border-bottom:1px #eee solid;
}

.n{
    padding:0.75em 1.25em 1em;
    text-align:center;
    color:#fff;
    background:#FF377B;
    border-radius:5em
}